.slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.input {
    width: 100%;
    cursor: pointer;
    accent-color: #712EFF;
}