.loginTitle {
  text-align: center;
}

.loginText {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 40px auto;
  background-color: rgb(236, 234, 234);
  border-radius: 10px;
  padding: 20px;
}

.error {
  color: red;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

// .authInput {
//   width: 100%;
// }
